
/* ----------------Home---------------- */

.container {
    display: flex;
    max-width: 1200px;
    margin:  0 auto 10rem;
    height: 100%;
    border-radius: 4px;
    /* border: 1px solid black; */
    
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 850px;
    margin-right: 39px;
    border-radius: 4px;
}

.user-profile {
    width: 100%;
    height: 360px;
    background-image: url('../img/capa.jpg');
    
}

.aside-container {
    display: flex;
    height: 360px;
    /* background-color: rgb(128, 128, 128); */
    flex-direction: column;
    width: 310px;
}

main section .icons {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px;
}

main .icons button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 132px;
    height: 36px;
    background-color: #FFF;
    border-radius: 4px;
    margin-right: 10px;
    border: none;
}

main .icons div {
    display: flex;
    align-items: center;
}

main .icons-right i:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #FFF;
    border-radius: 4px;
    border: none;
}

div.icons > div > i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #FFF;
    border-radius: 4px;
    border: none;
}

main .user-info {
    background-color: rgb(255, 255, 255);
    height: 177px;
    margin-top: 120px;
    margin-bottom: 100px;
    border-radius: 4px;
}

main section div.flex{
    display: flex;
    align-items: center;
}

main section .flex img{
    position: absolute;
    margin-top: -30px;
}

main section .profile-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 2px solid red;
}

main .feed-buttons{
    border-bottom: 1px solid rgb(209, 209, 209);
    margin: 21px 0;
}

main .feed-buttons button{
    width: 240px;
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    font-weight: 600;
}


main .feed-buttons button:hover{
    height: 50px;
    background-color: #0077B5;
    border-radius: 4px 4px 0 0;
    color: #fff;
}

main  .about{
    background-color: #fff;
    width: 100%;
    height: 170px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 4px;
}

main .about h3{
    margin-bottom: 15px;
}

main .about p{
    margin-bottom: 20px;
}

main  .about a{
    text-decoration: none;
    color: #0275B1;
}

main div.about a:hover{
    filter: brightness(0.4);
    text-decoration: underline;
}

main div.projects{
    background-color: #fff;
    width: 100%;
    height: 335px;
    margin-top: 20px;
    border-radius: 4px;
    padding: 20px;
}

main div.projects div.align{
    display: flex;
    align-items: center;
}