
/* ----------------Home---------------- */

.container {
    display: flex;
    max-width: 1200px;
    margin:  0 auto 10rem;
    height: 100%;
    border-radius: 4px;
    /* border: 1px solid black; */
    
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 850px;
    margin-right: 39px;
    border-radius: 4px;
}

.user-profile {
    width: 100%;
    height: 360px;
    background-image: url('../img/capa.jpg');
    border-radius: 4px;
    
}

.aside-container {
    display: flex;
    /* background-color: rgb(128, 128, 128); */
    flex-direction: column;
    width: 310px;
}

main section .icons {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px;
}

main .icons button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 132px;
    height: 36px;
    background-color: #FFF;
    border-radius: 4px;
    margin-right: 10px;
    border: none;
}

main .icons div {
    display: flex;
    align-items: center;
}

main .icons-right i:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #FFF;
    border-radius: 4px;
    border: none;
}

div.icons > div > i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #FFF;
    border-radius: 4px;
    border: none;
}

main .perfil-image img{
    margin-top: -30px;
}

main .profile-name h3{
    margin-bottom: 15px;
}

main .user-info {
    background-color: rgb(255, 255, 255);
    height: 177px;
    margin-top: 120px;
    padding: 15px;
}

main .description{
    margin-bottom: 25px;
}

main .flex-container{
    display: flex;
    align-items: center;
}

main section .profile-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

main .profile-name{
    display: flex;
    align-items: baseline;
}

main .flex-column {
    flex-direction: column;
}

main .profile-name h3{
    margin-right: 8px;
}

main .profile-buttons button:first-child{
    background-color: #0275B1;
    color: #fff;
    font-weight: 600;
}

main .profile-buttons button{
    background-color: #fff;
    width: 170px;
    height: 32px;
    margin-right: 15px;
   
    border-radius: 4px;
    border: 2px solid #0275B1;
    cursor: pointer;
    color: rgba(2, 117, 177, 1);
    font-weight: 600;
    transform: filter 0.4s;
}

main .profile-buttons button:hover{
    background-color: #0069a1;
}

main .profile-buttons button:last-child:hover{
    color: #fff;
}

main .feed-buttons{
    border-bottom: 1px solid rgb(209, 209, 209);
    margin-top: 21px;
}

main .feed-buttons button{
    width: 240px;
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    font-weight: 600;
    transition: background-color 0.3s;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}


main .feed-buttons button:hover{
    background-color: #0077B5;
    color: #fff;
}

main  .about{
    background-color: #fff;
    width: 100%;
    height: 170px;
    padding: 20px;
    border-radius: 4px;
}

main .about h3{
    margin-bottom: 15px;
}

main .about p{
    margin-bottom: 20px;
}

main  .about a{
    text-decoration: none;
    color: #0275B1;
    font-weight: 600;
}

main .about a:hover{
    filter: brightness(0.4);
    text-decoration: underline;
}

main .projects{
    background-color: #fff;
    width: 100%;
    height: 335px;
    margin-top: 20px;
    border-radius: 4px;
    padding: 20px;
}

main .projects a{
    text-decoration: none;
    margin-left: 10px;
    color: var(--primary-color);
    font-weight: 600;
}

main .projects a:hover{
    filter: brightness(0.5);
    text-decoration: underline;
}

main .projects div.align{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

main .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px 0;
    color: #181818;
    font-size: 14px;
}

main .cards img{
    margin-bottom: 15px;
}

main .projects .align h3{
    margin-right: 15px;
}

main .projects .align span{
    color: #747474;
}


main .skills{
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
}

main .skills a{
    margin-top: 100px;
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
}

main .skills a:hover{
    filter: brightness(0.5);
    text-decoration: underline;
}


main .skills-cards{
    margin: 25px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

main .skills-cards div{
    margin-left: 20px;
    border: 1px solid red;
    padding: 20px;

    border: 1px solid #d4d4d4;
    border-radius: 6px;
}

main .skills-cards div:hover{
    outline: 1px solid rgb(190, 190, 190);
}

main .experience{
    background-color: #fff;
    width: 100%;
    height: 200px;
    border-radius: 4px;
    margin-top: 20px;
}













/* ------------Aside------------ */

aside .aside-container .dashboard-container {
    background-color: white;
    width: 290px;
    height: 360px;
    margin-bottom: 20px;
    border-radius: 4px;
}

aside .dashboard {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

aside .dashboard .title {
    display: flex;
    font-size: 14px;
}

aside .aside-container .dashboard .title h4:last-child {
    color: var(--primary-color);
    margin-left: 27px;
}

aside .aside-container .dashboard .views {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

aside .aside-container .visitors {
    background-color: white;
    width: 290px;
    height: 427px;
    border-radius: 4px;
    margin-bottom: 20px;
}

aside .aside-container .courses {
    background-color: cadetblue;
    width: 290px;
    height: 338px;
    border-radius: 4px;
}

aside .dashboard h1 {
    color: var(--primary-color);
    font-size: 48px;
    margin-top: 10px;
}

aside .dashboard-container {
    display: flex;
}

aside .visitors .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

aside .visitors .title h4:last-child {
    margin-bottom: 20px;
    color: var(--primary-color);
}

aside .visitors {
    padding: 20px;
}

aside .visitors .cards {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px 0;
}

aside .visitors .cards img{
    margin-right: 15px;
}
